[submodule "duckdb"]
	path = duckdb
	url = https://github.com/peernova/duckdb.git
	branch = feature/branching
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/peernova/extension-ci-tools.git
	branch = feature/branching
